body {
    display: grid;
    justify-content: center;
    margin: 0 10vw;
}

body > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2%;
}

#spinner {
    display: grid;
    justify-content: center;
    align-items: flex-start;
}

h1 {
    margin-top: 30px;
    margin-bottom: 15px;
}

label, select {
    display: block;
}

#form {
    padding: 15px 12px;
    height: fit-content;
    min-width: 200px;
}

#submit {
    margin-top: 20px;
}

section {
    margin-bottom: 30px;
}

#response {
    padding: 0;
}

#country {
    width: 100%;
}